:root{

  /* Primary Theme */
  --primary-color:#F97316;
  --primary-dark:#EA580C;
  --primary-light:#FFF7ED;

  /* Background */
  --background:#FFF8F2;
  --white:#FFFFFF;

  /* Text */
  --heading:#6B1E12;
  --text-dark:#374151;
  --text-light:#6B7280;

  /* Border */
  --border:#F2D8C8;

  /* Shadow & Radius */
  --shadow:0 15px 40px rgba(0,0,0,0.08);
  --radius:18px;
}